footer.footer
    a(href="#totop").footer__topBtn
    .main_padding_lf
        .container.footer__top
            .row
                .col-2
                    h3.footer__caption Feedback
                    p.footer__text Hotline
                    a(href="tel:8022578566").footer__text.footer__text_size_lg 802 257 8566
                    p.footer__text Available on weekdays: 9:00 - 18:00
                .col-1
                .col-2.text-center
                    div.d-inline-block.text-left
                        h3.footer__caption Trading
                        ul.footer__list
                            li
                                a(href="#").footer__text GMS-JUL19
                            li
                                a(href="#").footer__text AMS-JUL19
                            li
                                a(href="#").footer__text DMS-JUL19
                            li
                                a(href="#").footer__text VMS-JUL19
                .col-3.text-center
                    div.d-inline-block.text-left
                        h3.footer__caption Regulations
                        ul.footer__list
                            li
                                a(href="#").footer__text Privacy Policy
                            li
                                a(href="#").footer__text Terms &amp; Conditions
                            li
                                a(href="#").footer__text AML Policy

                .col-2.text-right
                    div.d-inline-block.text-left
                        h3.footer__caption Sp ecifications
                        ul.footer__list
                            li
                                a(href="#").footer__text Instruments
                            li
                                a(href="#").footer__text Time-limits
                            li
                                a(href="#").footer__text Comissions
                            li
                                a(href="#").footer__text Affiliate Program
                .col-2.text-right
                    div.d-inline-block.text-left
                        h3.footer__caption About
                        ul.footer__list
                            li
                                a(href="#").footer__text Company
                            li
                                a(href="#").footer__text News
                            li
                                a(href="#").footer__text Support
                            li
                                a(href="#").footer__text FAQ
            .row
                .col.d-flex
                    a(href="#facebook").socialBtn.socialBtn_margin_lf.socialBtn_size_md
                        i.fa.fa-facebook
                    a(href="#instagram").socialBtn.socialBtn_margin_lf.socialBtn_size_md
                        i.fa.fa-instagram
                    a(href="#twitter").socialBtn.socialBtn_margin_lf.socialBtn_size_md
                        i.fa.fa-twitter
                    a(href="#linkedin").socialBtn.socialBtn_margin_lf.socialBtn_size_md
                        i.fa.fa-linkedin
        .container.footer__center.footer_border_tb
            .row
                .col-2.d-flex.align-items-center
                    h3.footer__caption Сertification
                .col-5.d-flex.align-items-center.footer_padding_tb
                    img(src="img/fda-logo.png" alt="fda").img-fluid.mr-4
                    img(src="img/vcof-logo.png" alt="vcof").img-fluid.mr-4
                    img(src="img/svpms.png" alt="svpms").img-fluid.mr-4
                    p.footer__age 18+
                .col-5.d-flex.align-items-center.justify-content-end
                    a(href="#").button.button_padding_md.button_color_wh.button_style_ob.button_size_sm.m-2 BECOME A PARTNER
        .container.footer__bottom
            .row
                .col.d-flex.justify-content-between.footer_padding_tb
                    p.m-0 &copy; 2019 Maple Syrup Exchange All Rights Reserved
                    p.m-0 Development &amp; Support – Boston Unisoft Technologies &amp; Admiral Software

    
