header.header          
    .container-fluid
        .row.header__wrap
            .col-lg.col-2.d-flex.justify-content-start.align-items-center.ml-5
                a(href="/").logo
                    .logo__wrap
                        .logo__imgWrap.logo__imgWrap_padding_sm
                            img(src="/img/amber-drop.png", alt="").logo__img.logo__img_size_sm
                        .logo__textWrap
                            p.logo__topText.logo__topText_size_sm.logo__topText_ltSpacing_sm.logo__topText_color_or.m-0  MAPLE <span class="logo__topText_color_yl">SYRUP</span>
                            p.logo__text.logo__text_color_bl.logo__text_size_sm.logo__text_ltSpacing_sm.m-0 EXCHANGE
            .col-lg-6.col-10.d-none.d-lg-flex.justify-content-end.justify-content-lg-center
                .header__center
                    .welcome.welcome_padding
                        p.welcome__text Active Traders: 156 | Volume USD: 9 999 | Volume Gallons: 120
                    nav.menu
                        ul.menu__list
                            li.menu__item 
                                a(href="#").menu__link.menu__link_color_bl Trading
                            li.menu__item 
                                a(href="#").menu__link.menu__link_color_bl Regulations
                            li.menu__item 
                                a(href="#").menu__link.menu__link_color_bl Specifications
                            li.menu__item 
                                a(href="#").menu__link.menu__link_color_bl About
                            li.menu__item 
                                a(href="#").menu__link.menu__link_color_bl News
                            li.menu__item 
                                a(href="#").menu__link.menu__link_color_bl Contacts
            .col-xl.d-none.d-xl-flex.justify-content-end.align-items-center
                a(href="#").button.button_padding_sm.button_color_bl.button_style_lt.button_size_sm.m-2 Sign in
                a(href="#").button.button_padding_sm.button_color_wh.button_style_or.button_size_sm.m-2 Sign up