main.main
    #preloader
        .preloader
            .logo__wrap
                .logo__imgWrap.logo__imgWrap_padding_lg
                    img(src="/img/amber-drop.png", alt="").logo__img.wow.fadeInDownBig
                .logo__textWrap
                    p.logo__topText.logo__topText_size_lg.logo__topText_ltSpacing_lg.logo__topText_color_or.m-0  MAPLE <span class="logo__topText_color_yl">SYRUP</span>
                    p.logo__text.logo__text_ltSpacing_lg.logo__text_size_lg.logo__text_color_gr.m-0 EXCHANGE
    aside.leftBar 
    .main__bg
    .main__topCont
        .container.main__wrap
            .row.main_padding_top
                .col-lg
                .col-lg-5.col-6
                    article.main__info.wow.fadeInUp
                        h1.caption.caption_style_lt.caption_size_md WE HELP TO GET BETTER DEALS ON <br> <span class="caption_style_rg caption_size_lg">MAPLE SYRUP EXCHANGE</span>
                        p.main__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        .row
                            .col-xl-12.col-8.d-flex.flex-xl-row.flex-column.justify-content-start.main__buttons
                                a(href="#").button.button_padding_md.button_color_or.button_style_wo.button_size_sm.mt-1 START TRADING
                .col-lg-1
                .col-lg-3.col-6.d-flex.align-items-end.justify-content-center.barrel-wrap
                    #barrelCarousel.owl-carousel.owl-theme
                        a(href="#").barrel
                            .barrel__imgWrap
                                img(src="img/barel-golden-02.png", alt="barel golden").barrel__img
                            .barrel__textWrap
                                p.barrel__text.m-0 GSM-JUL19
                        a(href="#").barrel
                            .barrel__imgWrap
                                img(src="img/barel-amber-02.png", alt="barel golden").barrel__img
                            .barrel__textWrap
                                p.barrel__text.m-0 GSM-AUR23
                .col-lg-2
    .buyCards
        a(href="#").downBtn.downBtn_position_tp
        .container
            .row    
                .col
                .col-6
                    h2.caption.caption_style_or Buy And Sell Maple Syrup <br> In Few Simple Steps
                    p.buyCards__text Become a trader by performing a series of easy actions. <br> Widen your space of possibilities in Maple Syrup wholesale.
                .col
            .row.prodsCard-wrap.d-flex.flex-lg-row.flex-column.align-items-center#prodsCard.mb-3
                .col.prodsCard.wow.fadeInUp
                    .prodsCard__front.prodsCard_color_yl.d-flex.justify-content-center
                        a(href="#").prodsCard__arrow
                        .prodsCard__backImg.prodsCard__backImg_yellow
                        .prodsCard__backGrad.prodsCard__backGrad_yellow
                        .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                            .prodsCard__top
                                h3.m-0.prodsCard__caption GMS-JUL19
                                p.prodsCard__description Golden Maple Syrup
                            .prodsCard__bottom
                                a(href="#").button.button_padding_md.button_color_or.button_style_wo.button_size_sm.mt-1 START TRADING
                                p.prodsCard__cost.mt-2 Actual Price <span class="prodsCard__price">$30.25</span>
                    .prodsCard__back.prodsCard_color_yl.d-flex.justify-content-center
                        a(href="#").prodsCard__arrow
                        .prodsCard__backImg.prodsCard__backImg_yellow.prodsCard_opacity_sm
                        .prodsCard__backGrad.prodsCard__backGrad_yellow
                        .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                            .prodsCard__top
                                h3.m-0.prodsCard__caption GMS-JUL19
                                p.prodsCard__description Golden Maple Syrup
                            .prodsCard__center
                                p.prodsCard__text At the beginning of sugaring season in winter, Gold Maple Syrup is the first product manufacturer produces when the sap starts to flow. Color is light, taste is mild and delicate. The best topping for pancakes, waffles, oatmeal or yogurt.
                            .prodsCard__bottom
                                a(href="#").button.button_padding_md.button_color_or.button_style_wo.button_size_sm.mt-1 START TRADING
                                p.prodsCard__cost.mt-2 Actual Price <span class="prodsCard__price">$30.25</span>
                    .prodsCard__backDuo.prodsCard_color_yl.justify-content-center
                        a(href="#").prodsCard__arrow
                        .prodsCard__backImg.prodsCard__backImg_yellow.prodsCard_opacity_sm
                        .prodsCard__backGrad.prodsCard__backGrad_yellow
                        .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                            .prodsCard__top
                                h3.m-0.prodsCard__caption GMS-JUL19
                                p.prodsCard__description Golden Maple Syrup
                            .prodsCard__center
                                table.prodsCard__table.table.table-sm.table-borderless
                                    tbody
                                        tr.prodsCard_borderOpacity_sm
                                            td.p-0.text-left Volume:
                                            td.p-0.text-right.prodsCard__tText 99 999 $
                                        tr.prodsCard_borderOpacity_sm
                                            td.p-0.text-left  Circulating Supply:
                                            td.p-0.text-right.prodsCard__tText 1 054 g
                                        tr.prodsCard_borderOpacity_sm
                                            td.p-0.text-left  Current Price:
                                            td.p-0.text-right.prodsCard__tText 30 $/g
                                        tr.prodsCard_borderOpacity_sm
                                            td.p-0.text-left  Price Change:
                                            td.p-0.text-right.prodsCard__tText +4,06%
                                        tr
                                            td.p-0.text-left  Trades:
                                            td.p-0.text-right.prodsCard__tText 200
                            .prodsCard__bottom
                                a(href="#").button.button_padding_md.button_color_or.button_style_wo.button_size_sm.mt-1 START TRADING
                                p.prodsCard__cost.mt-2 Actual Price <span class="prodsCard__price">$30.25</span>
                .col.prodsCard.wow.fadeInUp
                    .prodsCard__front.prodsCard_color_or.d-flex.justify-content-center
                        a(href="#").prodsCard__arrow
                        .prodsCard__backImg.prodsCard__backImg_orange
                        .prodsCard__backGrad.prodsCard__backGrad_orange
                        .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                            .prodsCard__top
                                h3.m-0.prodsCard__caption AMS
                                p.prodsCard__description Amber Maple Syrup
                            .prodsCard__bottom
                                a(href="#").button.button_padding_md.button_color_or.button_style_wo.button_size_sm.mt-1 START TRADING
                                p.prodsCard__cost.mt-2 Actual Price <span class="prodsCard__price">$30.25</span>
                    .prodsCard__back.prodsCard_color_or.d-flex.justify-content-center
                        a(href="#").prodsCard__arrow
                        .prodsCard__backImg.prodsCard__backImg_orange.prodsCard_opacity_sm
                        .prodsCard__backGrad.prodsCard__backGrad_orange
                        .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                            .prodsCard__top
                                h3.m-0.prodsCard__caption AMS
                                p.prodsCard__description Amber Maple Syrup
                            .prodsCard__center
                                p.prodsCard__text After the weather gets warmer, about mid-season, the sap becomes darker and obtain a bit more maple taste characteristics. This is the harvest time for AMS. This grade is the most popular of table syrup due to its distinguish flavor and rich golden color.
                            .prodsCard__bottom
                                a(href="#").button.button_padding_md.button_color_or.button_style_wo.button_size_sm.mt-1 START TRADING
                                p.prodsCard__cost.mt-2 Actual Price <span class="prodsCard__price">$30.25</span>
                    .prodsCard__backDuo.prodsCard_color_or.justify-content-center
                        a(href="#").prodsCard__arrow
                        .prodsCard__backImg.prodsCard__backImg_orange.prodsCard_opacity_sm
                        .prodsCard__backGrad.prodsCard__backGrad_orange
                        .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                            .prodsCard__top
                                h3.m-0.prodsCard__caption AMS
                                p.prodsCard__description Amber Maple Syrup
                            .prodsCard__center
                                table.prodsCard__table.table.table-sm.table-borderless
                                    tbody
                                        tr.prodsCard_borderOpacity_sm
                                            td.p-0.text-left Volume:
                                            td.p-0.text-right.prodsCard__tText 99 999 $
                                        tr.prodsCard_borderOpacity_sm
                                            td.p-0.text-left  Circulating Supply:
                                            td.p-0.text-right.prodsCard__tText 1 054 g
                                        tr.prodsCard_borderOpacity_sm
                                            td.p-0.text-left  Current Price:
                                            td.p-0.text-right.prodsCard__tText 30 $/g
                                        tr.prodsCard_borderOpacity_sm
                                            td.p-0.text-left  Price Change:
                                            td.p-0.text-right.prodsCard__tText +4,06%
                                        tr
                                            td.p-0.text-left  Trades:
                                            td.p-0.text-right.prodsCard__tText 200
                            .prodsCard__bottom
                                a(href="#").button.button_padding_md.button_color_or.button_style_wo.button_size_sm.mt-1 START TRADING
                                p.prodsCard__cost.mt-2 Actual Price <span class="prodsCard__price">$30.25</span>
                .col.prodsCard.wow.fadeInUp
                    .prodsCard__front.prodsCard_color_rd.d-flex.justify-content-center
                        a(href="#").prodsCard__arrow
                        .prodsCard__backImg.prodsCard__backImg_red
                        .prodsCard__backGrad.prodsCard__backGrad_red
                        .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                            .prodsCard__top
                                h3.m-0.prodsCard__caption DMS
                                p.prodsCard__description Dark Maple Syrup
                            .prodsCard__bottom
                                a(href="#").button.button_padding_md.button_color_or.button_style_wo.button_size_sm.mt-1 START TRADING
                                p.prodsCard__cost.mt-2 Actual Price <span class="prodsCard__price">$30.25</span>
                    .prodsCard__back.prodsCard_color_rd.d-flex.justify-content-center
                        a(href="#").prodsCard__arrow
                        .prodsCard__backImg.prodsCard__backImg_red.prodsCard_opacity_sm
                        .prodsCard__backGrad.prodsCard__backGrad_red
                        .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                            .prodsCard__top
                                h3.m-0.prodsCard__caption DMS
                                p.prodsCard__description Dark Maple Syrup
                            .prodsCard__center
                                p.prodsCard__text As the sugaring season keeps progressing and days are warm and long, shows up Dark Syrup. By now, there is less sugar in the sap, so more of it is needed to make a gallon of syrup. This versatile grade has intense taste and color, great for sauces and meat glazes.
                            .prodsCard__bottom
                                a(href="#").button.button_padding_md.button_color_or.button_style_wo.button_size_sm.mt-1 START TRADING
                                p.prodsCard__cost.mt-2 Actual Price <span class="prodsCard__price">$30.25</span>
                    .prodsCard__backDuo.prodsCard_color_rd.justify-content-center
                        a(href="#").prodsCard__arrow
                        .prodsCard__backImg.prodsCard__backImg_red.prodsCard_opacity_sm
                        .prodsCard__backGrad.prodsCard__backGrad_red
                        .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                            .prodsCard__top
                                h3.m-0.prodsCard__caption DMS
                                p.prodsCard__description Dark Maple Syrup
                            .prodsCard__center
                                table.prodsCard__table.table.table-sm.table-borderless
                                    tbody
                                        tr.prodsCard_borderOpacity_sm
                                            td.p-0.text-left Volume:
                                            td.p-0.text-right.prodsCard__tText 99 999 $
                                        tr.prodsCard_borderOpacity_sm
                                            td.p-0.text-left  Circulating Supply:
                                            td.p-0.text-right.prodsCard__tText 1 054 g
                                        tr.prodsCard_borderOpacity_sm
                                            td.p-0.text-left  Current Price:
                                            td.p-0.text-right.prodsCard__tText 30 $/g
                                        tr.prodsCard_borderOpacity_sm
                                            td.p-0.text-left  Price Change:
                                            td.p-0.text-right.prodsCard__tText +4,06%
                                        tr
                                            td.p-0.text-left  Trades:
                                            td.p-0.text-right.prodsCard__tText 200
                            .prodsCard__bottom
                                a(href="#").button.button_padding_md.button_color_or.button_style_wo.button_size_sm.mt-1 START TRADING
                                p.prodsCard__cost.mt-2 Actual Price <span class="prodsCard__price">$30.25</span>
                .col.prodsCard.wow.fadeInUp
                    .prodsCard__front.prodsCard_color_dr.d-flex.justify-content-center
                        a(href="#").prodsCard__arrow
                        .prodsCard__backImg.prodsCard__backImg_darkRed
                        .prodsCard__backGrad.prodsCard__backGrad_darkRed
                        .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                            .prodsCard__top
                                h3.m-0.prodsCard__caption VMS
                                p.prodsCard__description Golden Maple Syrup
                            .prodsCard__bottom
                                a(href="#").button.button_padding_md.button_color_or.button_style_wo.button_size_sm.mt-1 START TRADING
                                p.prodsCard__cost.mt-2 Actual Price <span class="prodsCard__price">$30.25</span>
                    .prodsCard__back.prodsCard_color_dr.d-flex.justify-content-center
                        a(href="#").prodsCard__arrow
                        .prodsCard__backImg.prodsCard__backImg_darkRed.prodsCard_opacity_sm
                        .prodsCard__backGrad.prodsCard__backGrad_darkRed
                        .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                            .prodsCard__top
                                h3.m-0.prodsCard__caption VMS
                                p.prodsCard__description Very Dark Maple Syrup
                            .prodsCard__center
                                p.prodsCard__text The Strong Taste Maple Syrup produced last in the maple harvest season. Trough its exceptionally robust flavor this specific grade is highly appreciated among food manufacturers and primarily used as a commercial ingredient.
                            .prodsCard__bottom
                                a(href="#").button.button_padding_md.button_color_or.button_style_wo.button_size_sm.mt-1 START TRADING
                                p.prodsCard__cost.mt-2 Actual Price <span class="prodsCard__price">$30.25</span>
                    .prodsCard__backDuo.prodsCard_color_dr.justify-content-center
                        a(href="#").prodsCard__arrow
                        .prodsCard__backImg.prodsCard__backImg_darkRed.prodsCard_opacity_sm
                        .prodsCard__backGrad.prodsCard__backGrad_darkRed
                        .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                            .prodsCard__top
                                h3.m-0.prodsCard__caption VMS
                                p.prodsCard__description Very Dark Maple Syrup
                            .prodsCard__center
                                table.prodsCard__table.table.table-sm.table-borderless
                                    tbody
                                        tr.prodsCard_borderOpacity_sm
                                            td.p-0.text-left Volume:
                                            td.p-0.text-right.prodsCard__tText 99 999 $
                                        tr.prodsCard_borderOpacity_sm
                                            td.p-0.text-left  Circulating Supply:
                                            td.p-0.text-right.prodsCard__tText 1 054 g
                                        tr.prodsCard_borderOpacity_sm
                                            td.p-0.text-left  Current Price:
                                            td.p-0.text-right.prodsCard__tText 30 $/g
                                        tr.prodsCard_borderOpacity_sm
                                            td.p-0.text-left  Price Change:
                                            td.p-0.text-right.prodsCard__tText +4,06%
                                        tr
                                            td.p-0.text-left  Trades:
                                            td.p-0.text-right.prodsCard__tText 200
                            .prodsCard__bottom
                                a(href="#").button.button_padding_md.button_color_or.button_style_wo.button_size_sm.mt-1 START TRADING
                                p.prodsCard__cost.mt-2 Actual Price <span class="prodsCard__price">$30.25</span>
        a(href="#").downBtn.downBtn_position_bt
    .observe
        .container
            .row
                .col
                .col-6.mt-5
                    h2.caption.caption_style_or Observe All Trading Tools <br> In One Screen
                    p.buyCards__text The high usability of our interface aligns with users expectations. Participants intuitively know what to do without losing attention on platform design.
                .col
            .row
                .col.text-center
                    img(src="img/isometric-board-00001.png" alt="isometric-board").img-fluid
            .row
                .col.text-center.my-5            
                    a(href="#").button.button_padding_md.button_color_wh.button_style_or.button_size_sm.m-2 HOW TO TRADE
        a(href="#").downBtn.downBtn_position_bt
    .offers.mt-5
        .container
            .row
                .col
                .col-6.mt-5
                    h2.caption.caption_style_or What Do We Offer?
                    p.buyCards__text The high usability of our interface aligns with users expectations. Participants intuitively know what to do without losing attention on platform design.
                .col            
            .row.offers__cards
                .col-3.offerCard.text-center
                    img(src="img/illustration-01-02.png", alt="offer").img-fluid
                    h2.caption.caption_style_gr.mt-3.mb-2 One Of A Kind
                    p.buyCards__text.p-0 First on the market who enables bulk purchases of maple syrup.
                .col-3.offerCard.text-center
                    img(src="img/illustration-02.png", alt="offer").img-fluid
                    h2.caption.caption_style_gr.mt-3.mb-2  Easy To Use
                    p.buyCards__text.p-0 Intuitive interface makes the site simple and clear for all users.
                .col-3.offerCard.text-center
                    img(src="img/illustration-03.png", alt="offer").img-fluid
                    h2.caption.caption_style_gr.mt-3.mb-2  Low Fees
                    p.buyCards__text.p-0 Trade transactions fees are among the lowest.
                .col-3.offerCard.text-center
                    img(src="img/illustration-04.png", alt="offer").img-fluid
                    h2.caption.caption_style_gr.mt-3.mb-2  Reliability
                    p.buyCards__text.p-0 Only fine quality syrup from verified suppliers is accessible.
            .row    
                .col-3.offerCard.text-center
                    img(src="img/illustration-04.png", alt="offer").img-fluid
                    h2.caption.caption_style_gr.mt-3.mb-2  24/7 Support
                    p.buyCards__text.p-0 Round-the-clock tech support guarantee qualified replies in the shortest terms.
                .col-3.offerCard.text-center
                    img(src="img/illustration-04.png", alt="offer").img-fluid
                    h2.caption.caption_style_gr.mt-3.mb-2  Diversity
                    p.buyCards__text.p-0 MS Exchange trades all Grades of syrup from all states, farms and Vendors.
                .col-3.offerCard.text-center
                    img(src="img/illustration-04.png", alt="offer").img-fluid
                    h2.caption.caption_style_gr.mt-3.mb-2  Affiliate Program
                    p.buyCards__text.p-0 Bring new clients and start earning more from others people activity.
                .col-3.offerCard.text-center
                    img(src="img/illustration-04.png", alt="offer").img-fluid
                    h2.caption.caption_style_gr.mt-3.mb-2  Shipping
                    p.buyCards__text.p-0 All means of shipment are available which allows door-to-door delivery.
        a(href="#").downBtn.downBtn_position_bt
    .partners
        .container
            .row
                .col
                .col-6.mt-5
                    h2.caption.caption_style_or Our Partners
                    p.buyCards__text On our platform you can find the finest syrup from the largest producers in the industry. Nevertheless, whether it is a vast manufacture or a small family enterprise – everybody is welcome here on MSE.
                .col  
            .row
                .col
                   #partnerCarousel.owl-carousel.owl-theme
                        .partnersCard
                            img(src="img/hollow.png", alt="hollow").img-fluid
                        .partnersCard
                            img(src="img/25-cropped-Vermont-Maple-Syrup.png", alt="cropped-Vermont-Maple-Syrup").img-fluid
                        .partnersCard
                            img(src="img/bascom.png", alt="bascom").img-fluid
                        .partnersCard
                             img(src="img/25-cropped-Vermont-Maple-Syrup.png", alt="cropped-Vermont-Maple-Syrup").img-fluid
        a(href="#").downBtn.downBtn_position_bt
    .payment
        .container.payment__wrap
            .row
                .col
                .col-6.mt-5
                    h2.caption.caption_style_or Payment &amp; Delivery
                    p.buyCards__text Flexible payment and shipping terms let buyers choose the most convenient way of purchasing the syrup and appropriate delivery method afterwards.
                .col  
            .row
                .col
                .col-8
                    .payment-wrap.d-flex.justify-content-between
                        .payment__imgWrap
                            img(src="img/paypal.png", alt="paypal").img-fluid
                        .payment__imgWrap
                            img(src="img/bank-of-america-logo.png", alt="/bank-of-america").img-fluid
                .col
        a(href="#").downBtn.downBtn_position_bt
    .discover.d-flex.align-items-center
        .container
            .row
                .col.text-center
                    h2.caption.caption_style_lg Discover full potential <br> of maple syrup trading!
            .row
                .col.text-center.mt-5
                    a(href="#").button.button_padding_md.button_color_or.button_style_wo.button_size_sm.mt-1 GET STARTED
        a(href="#").downBtn.downBtn_position_bt    
    .news
        .container.payment__wrap
            .row
                .col
                .col-6.mt-5
                    h2.caption.caption_style_or Sweet News 
                    p.buyCards__text Only relevant and helpful information for our traders on the latest news and events from the world of Maple Syrup, Trades and Finance.
                .col 
            .row
                .col-3
                    a(href="#").newsCard
                        .newsCard__back
                        .newsCard__wrap
                            .newsCard__top.d-flex.justify-content-between
                                p.newsCard__text 27 July 2019
                                p.newsCard__text 4:30 AM EST
                            h2.newsCard__title We help to get better deals in maple syrup...
                            p.newsCard__text.newsCard__text_lg Take part in our monthly trades and have and an impact on maple syrup wholesale...
                        a(href="#").newsCard__arrow 
                .col-3
                    a(href="#").newsCard
                        .newsCard__back
                        .newsCard__wrap
                            .newsCard__top.d-flex.justify-content-between
                                p.newsCard__text 27 July 2019
                                p.newsCard__text 4:30 AM EST
                            h2.newsCard__title We help to get better deals in maple syrup...
                            p.newsCard__text.newsCard__text_lg Take part in our monthly trades and have and an impact on maple syrup wholesale...
                        a(href="#").newsCard__arrow 
                .col-3
                    a(href="#").newsCard
                        .newsCard__back
                        .newsCard__wrap
                            .newsCard__top.d-flex.justify-content-between
                                p.newsCard__text 27 July 2019
                                p.newsCard__text 4:30 AM EST
                            h2.newsCard__title We help to get better deals in maple syrup...
                            p.newsCard__text.newsCard__text_lg Take part in our monthly trades and have and an impact on maple syrup wholesale...
                        a(href="#").newsCard__arrow 
                .col-3
                    a(href="#").newsCard
                        .newsCard__back
                        .newsCard__wrap
                            .newsCard__top.d-flex.justify-content-between
                                p.newsCard__text 27 July 2019
                                p.newsCard__text 4:30 AM EST
                            h2.newsCard__title We help to get better deals in maple syrup...
                            p.newsCard__text.newsCard__text_lg Take part in our monthly trades and have and an impact on maple syrup wholesale...
                        a(href="#").newsCard__arrow 