main.main
    #preloader
        .preloader
            .logo__wrap
                .logo__imgWrap.logo__imgWrap_padding_lg
                    img(src="/img/amber-drop.png", alt="").logo__img.wow.fadeInDownBig
                .logo__textWrap
                    p.logo__topText.logo__topText_size_lg.logo__topText_ltSpacing_lg.logo__topText_color_or.m-0  MAPLE <span class="logo__topText_color_yl">SYRUP</span>
                    p.logo__text.logo__text_ltSpacing_lg.logo__text_size_lg.logo__text_color_gr.m-0 EXCHANGE
    aside.leftBar 
    .main__bg
    .main__topCont
        .container.main__wrap
            .row.main_padding_top
                .col-lg
                .col-lg-5.col-6
                    article.main__info.wow.fadeInUp
                        h1.caption.caption_style_lt.caption_size_md WE HELP TO GET BETTER DEALS ON <br> <span class="caption_style_rg caption_size_lg">MAPLE SYRUP EXCHANGE</span>
                        p.main__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        .row
                            .col-xl-12.col-8.d-flex.flex-xl-row.flex-column.justify-content-start.main__buttons
                                a(href="#").button.button_padding_md.button_color_or.button_style_wo.button_size_sm.mt-1 START TRADING
                .col-lg-1
                .col-lg-3.col-6.d-flex.align-items-end.justify-content-center.barrel-wrap
                    .owl-carousel.owl-theme
                        a(href="#").barrel
                            .barrel__imgWrap
                                img(src="img/barel-golden-02.png", alt="barel golden").barrel__img
                            .barrel__textWrap
                                p.barrel__text.m-0 GSM-JUL19
                        a(href="#").barrel
                            .barrel__imgWrap
                                img(src="img/barel-amber-02.png", alt="barel golden").barrel__img
                            .barrel__textWrap
                                p.barrel__text.m-0 GSM-AUR23
                .col-lg-2
    .buyCards
        a(href="#").buyCards__downBtn
        .container
            .row
                .col
                    h2.caption.caption_style_or Buy And Sell Maple Syrup <br> In Few Simple Steps
                    p.buyCards__text Become a trader by performing a series of easy actions. <br> Widen your space of possibilities in Maple Syrup wholesale.
            .row.prodsCard-wrap.d-flex.flex-lg-row.flex-column.align-items-center
                .col.d-flex.justify-content-center.prodsCard.prodsCard_yellow.wow.fadeInUp
                    .prodsCard__backImg.prodsCard__backImg_yellow
                    .prodsCard__backGrad.prodsCard__backGrad_yellow
                    .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                        .prodsCard__top
                            h3.m-0.prodsCard__caption AAA
                            p.prodsCard__description Tech Task For You
                        .prodsCard__bottom
                            a(href="#" class="btn btn-light").mainBtn.mainBtn_orange.mainBtn_padding.prodsCard__btn GET STARTED
                            p.prodsCard__cost Tech Task <span class="prodsCard__price">$00.00</span>
                .col.d-flex.justify-content-center.prodsCard.prodsCard_orange.wow.fadeInUp(data-wow-delay=".3s")
                    .prodsCard__backImg.prodsCard__backImg_orange
                    .prodsCard__backGrad.prodsCard__backGrad_orange
                    .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                        .prodsCard__top
                            h3.m-0.prodsCard__caption AAA
                            p.prodsCard__description Tech Task For You
                        .prodsCard__bottom
                            a(href="#" class="btn btn-light").mainBtn.mainBtn_orange.mainBtn_padding.prodsCard__btn GET STARTED
                            p.prodsCard__cost Tech Task <span class="prodsCard__price">$00.00</span>
                .col.d-flex.justify-content-center.prodsCard.prodsCard_red.wow.fadeInUp(data-wow-delay=".6s")
                    .prodsCard__backImg.prodsCard__backImg_red
                    .prodsCard__backGrad.prodsCard__backGrad_red
                    .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                        .prodsCard__top
                            h3.m-0.prodsCard__caption AAA
                            p.prodsCard__description Tech Task For You
                        .prodsCard__bottom
                            a(href="#" class="btn btn-light").mainBtn.mainBtn_orange.mainBtn_padding.prodsCard__btn GET STARTED
                            p.prodsCard__cost Tech Task <span class="prodsCard__price">$00.00</span>
                .col.d-flex.justify-content-center.prodsCard.prodsCard_darkRed.wow.fadeInUp(data-wow-delay=".9s")
                    .prodsCard__backImg.prodsCard__backImg_darkRed
                    .prodsCard__backGrad.prodsCard__backGrad_darkRed
                    .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                        .prodsCard__top
                            h3.m-0.prodsCard__caption AAA
                            p.prodsCard__description Tech Task For You
                        .prodsCard__bottom
                            a(href="#" class="btn btn-light").mainBtn.mainBtn_orange.mainBtn_padding.prodsCard__btn GET STARTED
                            p.prodsCard__cost Tech Task <span class="prodsCard__price">$00.00</span>