* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 16px;
  min-width: 320px;
  font-family: 'Roboto', sans-serif; }

.owl-carousel .owl-item img {
  display: initial;
  width: auto; }

.header {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  padding-left: 50px;
  height: 70px; }
  .header__wrap {
    width: 100%; }

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998; }

.preloader {
  width: 100%;
  height: 100%;
  background: #EBEBEB; }

.logo:hover {
  opacity: .8; }

.logo__imgWrap_padding_sm {
  padding: 10px; }

.logo__imgWrap_padding_lg {
  padding: 18px; }

.logo__img_size_sm {
  max-width: 24px; }

.logo__topText_ltSpacing_sm {
  letter-spacing: 1.65px; }

.logo__topText_ltSpacing_lg {
  letter-spacing: 2.9px; }

.logo__topText_size_sm {
  font-size: 1.125rem;
  line-height: 18px; }

.logo__topText_size_lg {
  font-size: 1.9375rem;
  line-height: 26px; }

.logo__topText_color_or {
  color: #D55223; }

.logo__topText_color_yl {
  color: #E28527; }

.logo__text_ltSpacing_sm {
  letter-spacing: 9px; }

.logo__text_ltSpacing_lg {
  letter-spacing: 16px; }

.logo__text_size_sm {
  font-size: 0.875rem; }

.logo__text_size_lg {
  font-size: 1.5rem; }

.logo__text_color_bl {
  color: #000000; }

.logo__text_color_gr {
  color: #ABABAB; }

.menuBar {
  position: fixed;
  top: 22px;
  left: 14px;
  z-index: 990; }
  .menuBar:hover {
    opacity: .7; }
  .menuBar__item {
    display: block;
    width: 28px;
    height: 4px;
    border-radius: 1px;
    background-color: #646477;
    margin: 0 0 5.5px; }

.welcome {
  max-width: 458px;
  width: 100%;
  margin: 0 auto;
  border-radius: 0px 0px 4px 4px;
  background-color: #646477;
  text-align: center;
  color: #ffffff;
  font-size: 0.75em;
  overflow: hidden; }
  .welcome_padding {
    padding: 3.2px 20px; }
  .welcome__text {
    margin: 0;
    white-space: nowrap;
    overflow: hidden; }
  .welcome__link {
    color: #fff;
    text-decoration: underline; }

.menu__list {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 0 0 6px; }

.menu__item {
  display: inline-block; }

.menu__link {
  display: block;
  color: inherit;
  padding: 8px 16px; }
  .menu__link_color_bl {
    color: #000000; }
  .menu__link:hover {
    opacity: .8; }

.button {
  text-transform: uppercase;
  border-radius: 4px; }
  .button_padding_sm {
    padding: 7px 20px; }
  .button_padding_xl {
    padding: 6px 40px; }
  .button_padding_md {
    padding: 12px 40px; }
  .button_style_lt {
    -webkit-transition: background-color  .5s;
    transition: background-color  .5s;
    border: 1px solid #EBEBEB;
    background-color: #ffffff; }
    .button_style_lt:hover {
      background: #eaeaea;
      color: inherit; }
  .button_style_or {
    -webkit-transition: -webkit-box-shadow .5s;
    transition: -webkit-box-shadow .5s;
    transition: box-shadow .5s;
    transition: box-shadow .5s, -webkit-box-shadow .5s;
    background: linear-gradient(269deg, #e28527, #d55223 100%);
    -webkit-box-shadow: 0px 3px 6px 0px #D55223;
            box-shadow: 0px 3px 6px 0px #D55223;
    color: #ffffff;
    border: none; }
    .button_style_or:hover {
      -webkit-box-shadow: 0px 4px 16px 0px #D55223;
              box-shadow: 0px 4px 16px 0px #D55223;
      color: #ffffff; }
  .button_style_ob {
    -webkit-transition: -webkit-box-shadow .5s;
    transition: -webkit-box-shadow .5s;
    transition: box-shadow .5s;
    transition: box-shadow .5s, -webkit-box-shadow .5s;
    background: linear-gradient(269deg, #e28527, #d55223 100%);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); }
    .button_style_ob:hover {
      -webkit-box-shadow: 3px 5px 30px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 3px 5px 30px 0px rgba(0, 0, 0, 0.35);
      color: #ffffff; }
  .button_style_wo {
    -webkit-transition: -webkit-box-shadow .5s;
    transition: -webkit-box-shadow .5s;
    transition: box-shadow .5s;
    transition: box-shadow .5s, -webkit-box-shadow .5s;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ffecd9));
    background: linear-gradient(180deg, white, #ffecd9 100%);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); }
    .button_style_wo:hover {
      color: #D55223;
      -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.35);
      background: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
      background: linear-gradient(180deg, white, white 100%); }
  .button_color_bl {
    color: #000000; }
  .button_color_or {
    color: #D55223; }
  .button_color_wh {
    color: #ffffff; }
  .button_size_sm {
    font-size: 0.875rem;
    font-weight: 500; }

.main {
  color: #ffffff;
  overflow: hidden; }
  .main_padding_top {
    padding-top: 50px; }
  .main__bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("img/main-back-1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%; }
    .main__bg::after {
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #646477;
      opacity: .5; }
  .main__topCont {
    position: relative; }
  .main__info {
    padding: 20px 0; }
  .main__description {
    line-height: 19px;
    font-weight: 300; }

.leftBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 55px;
  height: -webkit-calc(100vh - 114px);
  height: calc(100vh - 114px);
  background-color: #646477;
  border-radius: 0px 4px 0px 0px;
  z-index: 700;
  padding: 50px 0;
  overflow: hidden; }
  .leftBar_color_wh {
    color: #ffffff; }
  .leftBar_color_gr {
    color: rgba(255, 255, 255, 0.5); }
  .leftBar__text {
    font-size: 0.75rem; }
    .leftBar__text_size_sm {
      font-size: 0.625rem; }
    .leftBar__text_style_bl {
      line-height: 14px; }
  .leftBar__item {
    display: block;
    padding: 15px 5px; }
    .leftBar__item_border_bt {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    .leftBar__item_isHover:hover {
      background: #505063; }
  .leftBar__btn {
    display: block;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.15); }
    .leftBar__btn:hover {
      -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.35); }
    .leftBar__btn::after {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABHNCSVQICAgIfAhkiAAAAK9JREFUKJHFj70NwkAMRp+j68kIKQApHWzACJQpWSEToLBA1kjJBoQp0lCcmCC06O5MF0QKRHIFltxYft+P3E+rg4rUQMrv04tqKfa47oHFBHAQMOpngQCpUT8TBQxO58NRzupi4ChnH9P5X7ET9VQ4ZfqGUgC6IsswJgNQDRtRqd/6UpHQflg6Z/PGWhlH6YrlTlUvwENE9nlza8c/Q+fxwTlIAtdn8Pvt2fbfOr8AhHFb2REcod8AAAAASUVORK5CYII=");
      background-repeat: no-repeat; }

.caption_style_lt {
  font-weight: 300;
  letter-spacing: 1.25px;
  text-transform: uppercase; }

.caption_style_rg {
  font-weight: 400;
  text-shadow: 0px 3px 6px #000000;
  letter-spacing: 1.25px;
  text-transform: uppercase; }

.caption_style_or {
  font-size: 2rem;
  color: #D55223;
  text-transform: uppercase; }

.caption_style_gr {
  color: #646477;
  font-size: 1.5rem; }

.caption_style_lg {
  font-size: 2.25rem;
  text-transform: uppercase; }

.caption_size_md {
  font-size: 1.5rem; }

.caption_size_lg {
  font-size: 2rem; }

.caption_shadow_or {
  text-shadow: 0px 6px 9px #a55e00; }

.barrel-wrap {
  position: relative; }
  .barrel-wrap::after {
    content: "";
    left: 50%;
    bottom: -48%;
    display: block;
    width: 388px;
    height: 400px;
    border-radius: 100%;
    background: radial-gradient(rgba(54, 31, 0, 0.7), rgba(255, 255, 255, 0) 50%);
    -webkit-transform: rotateX(77deg) translateX(-50%);
            transform: rotateX(77deg) translateX(-50%); }

.barrel {
  color: #ffffff; }
  .barrel:hover {
    color: inherit; }
  .barrel:hover .barrel__text {
    text-shadow: -2px 2px 20px black; }
  .barrel__imgWrap {
    max-width: 226px;
    margin: 0 auto; }
  .barrel__img {
    display: block;
    max-width: 100%;
    width: 100% !important;
    height: auto; }
  .barrel__dotsWrap {
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: -1; }
  .barrel__navItem {
    background: transparent; }
    .barrel__navItem_prev {
      margin-left: -20px; }
    .barrel__navItem_next {
      margin-right: -20px; }
  .barrel__arrow {
    -webkit-transition: color .5s;
    transition: color .5s;
    color: rgba(255, 255, 255, 0.5); }
    .barrel__arrow:hover {
      color: rgba(255, 255, 255, 0.8); }
  .barrel__textWrap {
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 100; }
  .barrel__text {
    -webkit-transition: text-shadow .5s ease;
    transition: text-shadow .5s ease;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.16);
    font-size: 1.375rem; }

.buyCards {
  position: relative;
  width: 100%;
  margin-top: -80px;
  padding: 150px 0 100px;
  background-color: #ffffff;
  border-radius: 1000px / 200px; }
  .buyCards__text {
    color: #000000;
    padding: 20px; }

.downBtn {
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 100px;
  background: radial-gradient(at top left, white, #ffecd9);
  -webkit-box-shadow: 0px 6px 9px 0px rgba(165, 94, 0, 0.25);
          box-shadow: 0px 6px 9px 0px rgba(165, 94, 0, 0.25);
  font-size: 22px;
  z-index: 100; }
  .downBtn_position_tp {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -30px; }
  .downBtn_position_bt {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -30px; }
  .downBtn:hover::after {
    margin-top: 5px; }
  .downBtn::after {
    content: "";
    -webkit-transition: margin .5s ease;
    transition: margin .5s ease;
    width: 20px;
    height: 20.52px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAVCAYAAABG1c6oAAAABHNCSVQICAgIfAhkiAAAAO9JREFUOI3t08FRwzAQheF/VQE1SEdf6IAWZDWAU0FSAh0QKogqiGugh0i3UAMdLAczg01k2c6JA++0o3nzzeqwwkJSa4+I7AFQfWv6j0Otb5ZAkMfyfDe4Lf/gXwWzdz57u78XycEesncewKTgOjX0auSYgj1txS6ti4q8qqFPwXUGGCHSbUEvrYsiPI+eTgbYTWvr0AIGsDPN+RpLaA529mZTsC8lrDlfo/yUXMfk+0MJpUN4AkB5R4il3vdiyPi1hKrqp4g8/J5L2A1Y2XQuE6wIbkBvsFlwBVrEqmAFncUWwQJaxVZnuPXhVpfyBZRvY9S3uM9KAAAAAElFTkSuQmCC"); }

.prodsCard {
  width: 100%;
  height: 331px;
  margin: 0 15px;
  padding: 0; }
  .prodsCard:hover .prodsCard__back {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    z-index: 2; }
  .prodsCard:hover .prodsCard__front {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    z-index: -1; }
  .prodsCard_color_yl {
    background: -webkit-gradient(linear, left top, left bottom, from(#f3ca22), to(#d87a00));
    background: linear-gradient(180deg, #f3ca22, #d87a00 100%); }
  .prodsCard_color_or {
    background: -webkit-gradient(linear, left top, left bottom, from(#e75300), to(#531e00));
    background: linear-gradient(180deg, #e75300, #531e00 100%); }
  .prodsCard_color_rd {
    background: -webkit-gradient(linear, left top, left bottom, from(#cc0000), to(#390000));
    background: linear-gradient(180deg, #cc0000, #390000 100%); }
  .prodsCard_color_dr {
    background: -webkit-gradient(linear, left top, left bottom, from(#7a0200), to(black));
    background: linear-gradient(180deg, #7a0200, black 100%); }
  .prodsCard_opacity_sm {
    opacity: .1; }
  .prodsCard__wrap {
    width: 100%; }
  .prodsCard__front {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 6px 9px 0px rgba(165, 94, 0, 0.25);
            box-shadow: 0px 6px 9px 0px rgba(165, 94, 0, 0.25);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.2, 0.85, 0.4, 1.275);
    transition: -webkit-transform 0.8s cubic-bezier(0.2, 0.85, 0.4, 1.275);
    transition: transform 0.8s cubic-bezier(0.2, 0.85, 0.4, 1.275);
    transition: transform 0.8s cubic-bezier(0.2, 0.85, 0.4, 1.275), -webkit-transform 0.8s cubic-bezier(0.2, 0.85, 0.4, 1.275); }
  .prodsCard__back {
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 4px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.2, 0.85, 0.4, 1.275);
    transition: -webkit-transform 0.8s cubic-bezier(0.2, 0.85, 0.4, 1.275);
    transition: transform 0.8s cubic-bezier(0.2, 0.85, 0.4, 1.275);
    transition: transform 0.8s cubic-bezier(0.2, 0.85, 0.4, 1.275), -webkit-transform 0.8s cubic-bezier(0.2, 0.85, 0.4, 1.275); }
    .prodsCard__back_hide {
      display: none !important; }
  .prodsCard__backDuo {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 25px;
    border-radius: 4px;
    overflow: hidden; }
    .prodsCard__backDuo_active {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
  .prodsCard_borderOpacity_sm {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .prodsCard__arrow {
    top: 15px;
    right: 15px;
    width: 9.71px;
    height: 16px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAYAAAAvf+5AAAAABHNCSVQICAgIfAhkiAAAAERJREFUKJHd0MENgCAUREFiRZRoCXYgHUIHw+UnxkTgLO882cMmZFTcaRaapzFG8W57fB5DvepjrfwCBWxLFDAHvmZvdFrWB0Ykv8m1AAAAAElFTkSuQmCC");
    background-repeat: no-repeat; }
    .prodsCard__arrow:hover {
      opacity: .7; }
  .prodsCard__table {
    color: #fff;
    font-size: 0.875rem; }
  .prodsCard__text {
    font-size: 0.75rem;
    line-height: 14px; }
  .prodsCard__backImg {
    z-index: -2; }
    .prodsCard__backImg_yellow {
      background-image: url("img/barel-golden-02.png");
      background-repeat: no-repeat;
      background-size: 75%;
      background-position: 50% 105px; }
    .prodsCard__backImg_orange {
      background-image: url("img/barel-amber-02.png");
      background-repeat: no-repeat;
      background-size: 75%;
      background-position: 50% 105px; }
    .prodsCard__backImg_red {
      background-image: url("img/barel-dark-02.png");
      background-repeat: no-repeat;
      background-size: 75%;
      background-position: 50% 105px; }
    .prodsCard__backImg_darkRed {
      background-image: url("img/barel-verydark-02.png");
      background-repeat: no-repeat;
      background-size: 75%;
      background-position: 50% 105px; }
  .prodsCard__backGrad {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px;
    z-index: -1; }
    .prodsCard__backGrad_yellow {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 202, 34, 0)), to(#d87a00));
      background: linear-gradient(180deg, rgba(243, 202, 34, 0), #d87a00 100%); }
    .prodsCard__backGrad_orange {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 202, 34, 0)), to(#531e00));
      background: linear-gradient(180deg, rgba(243, 202, 34, 0), #531e00 100%); }
    .prodsCard__backGrad_red {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 202, 34, 0)), to(black));
      background: linear-gradient(180deg, rgba(243, 202, 34, 0), black 100%); }
    .prodsCard__backGrad_darkRed {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 202, 34, 0)), to(black));
      background: linear-gradient(180deg, rgba(243, 202, 34, 0), black 100%); }
  .prodsCard__caption {
    font-size: 1.25rem; }
  .prodsCard__description {
    font-size: 0.875em; }
  .prodsCard__cost {
    font-size: 0.75rem;
    padding: 10px 10px 0;
    margin: 0;
    font-weight: 400; }
  .prodsCard__price {
    font-weight: 600; }

.observe {
  position: relative;
  width: 100%;
  background-color: #FBFBFB;
  margin: -200px 0 0;
  padding: 250px 0 60px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-radius: 1000px / 200px;
  z-index: -1; }

.offers {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  padding: 0 0 100px;
  border-radius: 1000px / 200px; }

.partners {
  position: relative;
  min-height: 400px;
  margin: -200px 0 0;
  padding: 250px 0 100px;
  background-color: #FBFBFB;
  border-radius: 1000px / 200px; }
  .partners__dot {
    display: block;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 100%;
    background-color: #ffffff;
    border: 2px solid #D55223;
    -webkit-box-shadow: 0px 6px 9px 0px rgba(165, 94, 0, 0.25);
            box-shadow: 0px 6px 9px 0px rgba(165, 94, 0, 0.25); }
  .partners__dot.active {
    background: radial-gradient(#D55223, #E28527);
    border: none; }

.partnersCard {
  max-width: 360px;
  width: 100%;
  height: 200px;
  background-color: transparent;
  border: 2px solid #EBEBEB;
  border-radius: 4px; }

.payment {
  position: relative;
  z-index: -1;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  margin: -200px 0 0;
  padding: 250px 0 100px;
  border-radius: 1000px / 200px;
  background-color: #ffffff; }
  .payment__wrap {
    position: relative;
    z-index: 10; }

.discover {
  position: relative;
  z-index: -2;
  min-height: 620px;
  margin: -200px 0 0;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#e28527), to(#d55223));
  background: linear-gradient(180deg, #e28527, #d55223 100%);
  padding: 250px 0 50px;
  border-radius: 1000px / 200px; }

.news {
  min-height: 500px; }

.newsCard {
  background-image: url("img/image-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  padding: 20px;
  color: #ffffff; }
  .newsCard:hover .newsCard__back {
    opacity: .9; }
  .newsCard:hover {
    color: inherit; }
  .newsCard__back {
    background: -webkit-gradient(linear, left top, left bottom, from(#f3ca22), to(#d87a00));
    background: linear-gradient(180deg, #f3ca22, #d87a00 100%);
    opacity: .75;
    -webkit-transition: opacity .6s;
    transition: opacity .6s;
    z-index: -1; }
  .newsCard__text {
    font-size: 0.75rem; }
    .newsCard__text_lg {
      font-size: 0.875rem;
      line-height: 17px;
      max-height: 34px;
      overflow: hidden; }
  .newsCard__title {
    font-size: 1rem; }
  .newsCard__arrow {
    width: 40px;
    height: 40px;
    bottom: -20px;
    left: 50px;
    z-index: 1;
    border-radius: 100%;
    background: radial-gradient(#FFECD9, #FFFFFF);
    -webkit-box-shadow: 0px 6px 9px 0px rgba(165, 94, 0, 0.25);
            box-shadow: 0px 6px 9px 0px rgba(165, 94, 0, 0.25); }
    .newsCard__arrow::after {
      content: '';
      display: block;
      width: 14.37px;
      height: 14px;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAYAAADwikbvAAAABHNCSVQICAgIfAhkiAAAALlJREFUKJGdksFxwjAQRd8XuZMO8OBThovTQejAuAK7AtKRW3AHtMAhnlzdQUwBaDkAmQwzWiX5V+170v4RJDI2ZfuxW3+NdVGlZkLqAOglPZvCISXw4A7AE8iBGZuyBXoAM5tlcbsZpuOv4JxAn3VRIFae4KxQC70/CjQ26xm0zL3gZ8xsXlh89QpLRrqu+xRirIDCG44KNdL+du+JGN9ehmn6U2F38Luw/4IunAMh8z09MAd3HghwAU5la6pBmVDMAAAAAElFTkSuQmCC");
      background-repeat: no-repeat; }

.subscribe {
  min-height: 500px; }

.footer {
  background-color: #646477; }
  .footer::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 55px;
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("img/corner.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: initial; }
  .footer_padding_tb {
    padding: 20px 0; }
  .footer_border_tb {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .footer__top {
    padding: 60px 0 50px; }
  .footer__bottom {
    color: #ffffff; }
  .footer__caption {
    color: #ffffff;
    font-size: 1.25rem; }
  .footer__text {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.65); }
    .footer__text_size_lg {
      color: #ffffff;
      font-size: 1.25rem; }
  .footer__list {
    list-style-type: none; }
  .footer__age {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.65); }
  .footer__topBtn {
    position: absolute;
    top: -10px;
    right: 36px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #646477; }
    .footer__topBtn::after {
      content: "";
      display: block;
      width: 14px;
      height: 14.37px;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAYAAADUFP50AAAABHNCSVQICAgIfAhkiAAAAHpJREFUKJHVkN0NgCAMhAsTMBKjMIIjsYIjOIFudL6UUPQKvnoJCS18/TkRIgAJwKknsT8zqGkNE2gNTyAfJtDl3DtMoAogmzhrboQfFasWG0DNDXA0E+8hhOIZp29HC9uom12cdTRrlZdJK9AqsuQX/Qh0pQZRY0REbrfwLP7z8xJWAAAAAElFTkSuQmCC");
      background-repeat: no-repeat; }
    .footer__topBtn::before {
      content: "";
      position: absolute;
      top: 10px;
      display: block;
      width: 80px;
      height: 60px;
      background-image: url("img/round-corner.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: initial;
      z-index: -1; }

.socialBtn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: radial-gradient(#d55223, #e28527);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff; }
  .socialBtn:hover {
    color: #ffffff;
    -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.35); }
  .socialBtn_margin_lf {
    margin: 0 20px 0 0; }
  .socialBtn_size_md {
    font-size: 1.25rem; }

.container {
  max-width: 1170px; }

.logo, .menu__link, .button, .leftBar__item, .leftBar__btn, .barrel, .newsCard, .socialBtn {
  text-decoration: none; }
  .logo:hover, .menu__link:hover, .button:hover, .leftBar__item:hover, .leftBar__btn:hover, .barrel:hover, .newsCard:hover, .socialBtn:hover {
    text-decoration: initial; }

.preloader, .logo__wrap, .menu__list, .leftBar__btn, .barrel__dotsWrap, .downBtn, .partners__dots, .partnersCard, .newsCard__arrow, .footer__topBtn, .socialBtn, .center-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.preloader, .leftBar__btn, .downBtn, .partnersCard, .newsCard__arrow, .footer__topBtn, .socialBtn {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.partners__dots {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.logo__wrap, .center-wrap {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.caption_style_or, .caption_style_gr, .caption_style_lg, .barrel__textWrap, .buyCards__text {
  text-align: center; }

.header, .main__wrap, .prodsCard, .newsCard, .footer {
  position: relative;
  z-index: 1; }

.main__bg, .main__bg::after, .barrel-wrap::after, .barrel__dotsWrap, .barrel__textWrap, .downBtn_position_tp, .downBtn_position_bt, .prodsCard__arrow, .prodsCard__backGrad, .newsCard__arrow {
  position: absolute; }

.logo, .menuBar, .prodsCard__backImg {
  -webkit-transition: .5s;
  transition: .5s; }

.prodsCard__backImg, .newsCard__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.logo__topText, .logo__text, .caption_style_lt, .barrel__text {
  font-family: 'Roboto', sans-serif; }

.logo__text, .buyCards__text {
  font-weight: 400; }

.logo__topText, .leftBar__text_style_bl, .barrel__text, .prodsCard__tText, .footer__caption, .footer__text_size_lg, .footer__age {
  font-weight: 600; }

.caption_style_rg, .caption_style_or, .caption_style_gr, .caption_style_lg, .prodsCard__caption, .newsCard__title {
  font-family: 'Fredoka One', cursive; }
