@media only screen and (max-width:1440px) {}

@media only screen and (max-width:1240px) {
    .main {
        &_padding_lf {
            padding-left: 55px;
        }
    }
}

@media only screen and (max-width:1024px) {
    .main {
        &__bg {
            background-size: cover;
        }
    }
    .partnersCard {
        margin: 0 auto;
    }
}

@media only screen and (max-width:960px) {
    .main {
        &_padding_top {
            padding-top: 30px;
        }
        &__description {
            font-size: (14rem / 16);
        }
        &__info {
            padding: 0 0 10px;
        }
    }
    .caption {
        &_size_md {
            font-size: (15rem / 16);
        }
        &_size_lg {
            font-size: (20rem / 16);
        }
    }
    .button {
        &_size_sm {
            font-size: (14rem / 16);
        }
    }
    .buyCards {
        .downBtn_position_tp {
            display: none;
        }
    }
    .barrel {
        &__imgWrap {
            max-width: 160px;
            margin: 20px auto 0;
        }
    }
    .leftBar {
        padding: 5px 50px;
        height: 70px;
        width: 100%;
        bottom: 0;
        border-radius: 4px 4px 0 0;
        display: none !important;
        &__item {
            padding: 0 15px;
            &_border_bt {
                border: none;
            }
        }
        &_color_gr {
            display: none;
        }
    }
    .footer {
        &::before {
            content: none;
        }
        &__top {
            padding: 30px 0;
        }
    }
    .main {
        &_padding_lf {
            padding-left: 0;
        }
    }
}

@media only screen and (max-width:768px) {
    .caption_style_lg {
        font-size: (20rem / 16);
    }
    .discover {
        min-height: 320px;
    }
    .discover__leaf {
        display: none;
    }
}

@media only screen and (max-width:480px) {}

@media only screen and (max-width:320px) {}