$basicWhite:#ffffff;
$basicBlack:#000000;
$basicGrey:#646477;
$basicOrange:#D55223;
$basicMainBack:#FBFBFB;
//header
$headerBtn:#fff;
$barsColor:#646477;
$preloaderBack:#EBEBEB;
$preloaderUno:#E28527;
$preloaderDuo:#D55223;
$preloaderText:#ABABAB;
//footer
$footerText:rgba(255,255,255,.65);
//Images
$arrowDown: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAVCAYAAABG1c6oAAAABHNCSVQICAgIfAhkiAAAAO9JREFUOI3t08FRwzAQheF/VQE1SEdf6IAWZDWAU0FSAh0QKogqiGugh0i3UAMdLAczg01k2c6JA++0o3nzzeqwwkJSa4+I7AFQfWv6j0Otb5ZAkMfyfDe4Lf/gXwWzdz57u78XycEesncewKTgOjX0auSYgj1txS6ti4q8qqFPwXUGGCHSbUEvrYsiPI+eTgbYTWvr0AIGsDPN+RpLaA529mZTsC8lrDlfo/yUXMfk+0MJpUN4AkB5R4il3vdiyPi1hKrqp4g8/J5L2A1Y2XQuE6wIbkBvsFlwBVrEqmAFncUWwQJaxVZnuPXhVpfyBZRvY9S3uM9KAAAAAElFTkSuQmCC');
$prodsCardArrow: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAYAAAAvf+5AAAAABHNCSVQICAgIfAhkiAAAAERJREFUKJHd0MENgCAUREFiRZRoCXYgHUIHw+UnxkTgLO882cMmZFTcaRaapzFG8W57fB5DvepjrfwCBWxLFDAHvmZvdFrWB0Ykv8m1AAAAAElFTkSuQmCC');
$arrowRight:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAYAAADwikbvAAAABHNCSVQICAgIfAhkiAAAALlJREFUKJGdksFxwjAQRd8XuZMO8OBThovTQejAuAK7AtKRW3AHtMAhnlzdQUwBaDkAmQwzWiX5V+170v4RJDI2ZfuxW3+NdVGlZkLqAOglPZvCISXw4A7AE8iBGZuyBXoAM5tlcbsZpuOv4JxAn3VRIFae4KxQC70/CjQ26xm0zL3gZ8xsXlh89QpLRrqu+xRirIDCG44KNdL+du+JGN9ehmn6U2F38Luw/4IunAMh8z09MAd3HghwAU5la6pBmVDMAAAAAElFTkSuQmCC');
$footerTopBtn:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAYAAADUFP50AAAABHNCSVQICAgIfAhkiAAAAHpJREFUKJHVkN0NgCAMhAsTMBKjMIIjsYIjOIFudL6UUPQKvnoJCS18/TkRIgAJwKknsT8zqGkNE2gNTyAfJtDl3DtMoAogmzhrboQfFasWG0DNDXA0E+8hhOIZp29HC9uom12cdTRrlZdJK9AqsuQX/Qh0pQZRY0REbrfwLP7z8xJWAAAAAElFTkSuQmCC');
$comment:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABHNCSVQICAgIfAhkiAAAAK9JREFUKJHFj70NwkAMRp+j68kIKQApHWzACJQpWSEToLBA1kjJBoQp0lCcmCC06O5MF0QKRHIFltxYft+P3E+rg4rUQMrv04tqKfa47oHFBHAQMOpngQCpUT8TBQxO58NRzupi4ChnH9P5X7ET9VQ4ZfqGUgC6IsswJgNQDRtRqd/6UpHQflg6Z/PGWhlH6YrlTlUvwENE9nlza8c/Q+fxwTlIAtdn8Pvt2fbfOr8AhHFb2REcod8AAAAASUVORK5CYII=');
//burger menu vars
$height-icon: 24px;
$width-line: 28px;
$height-line: 4px;
$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;