$basicWhite:#ffffff;
$basicBlack:#000000;
$basicGrey:#646477;
$basicOrange:#D55223;
$basicMainBack:#FBFBFB;
//header
$headerBtn:#fff;
$barsColor:#646477;
$preloaderBack:#EBEBEB;
$preloaderUno:#E28527;
$preloaderDuo:#D55223;
$preloaderText:#ABABAB;
//Images
$arrowDown: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAVCAYAAABG1c6oAAAABHNCSVQICAgIfAhkiAAAAO9JREFUOI3t08FRwzAQheF/VQE1SEdf6IAWZDWAU0FSAh0QKogqiGugh0i3UAMdLAczg01k2c6JA++0o3nzzeqwwkJSa4+I7AFQfWv6j0Otb5ZAkMfyfDe4Lf/gXwWzdz57u78XycEesncewKTgOjX0auSYgj1txS6ti4q8qqFPwXUGGCHSbUEvrYsiPI+eTgbYTWvr0AIGsDPN+RpLaA529mZTsC8lrDlfo/yUXMfk+0MJpUN4AkB5R4il3vdiyPi1hKrqp4g8/J5L2A1Y2XQuE6wIbkBvsFlwBVrEqmAFncUWwQJaxVZnuPXhVpfyBZRvY9S3uM9KAAAAAElFTkSuQmCC');
$prodsCardArrow: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAYAAAAvf+5AAAAABHNCSVQICAgIfAhkiAAAAERJREFUKJHd0MENgCAUREFiRZRoCXYgHUIHw+UnxkTgLO882cMmZFTcaRaapzFG8W57fB5DvepjrfwCBWxLFDAHvmZvdFrWB0Ykv8m1AAAAAElFTkSuQmCC');