$basicWhite:#ffffff;
$baseOrange:#D55223;
//header
$headerWelcomeBack:#E28527;
$headerWelcomeText:#fff;
$headerBtn:#fff;
$preloaderBack:#EBEBEB;
$preloaderUno:#E28527;
$preloaderDuo:#ec5700;
$preloaderText:#ABABAB;
